.Header {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  color: var(--text-color);
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.logo:hover {
  color: var(--text-color);
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  margin: 2px;
  color: var(--text-color);
  background-color: var(--navbar-item-color);
  transition: background-color var(--hover-transition-time);
}

.navbar-item:hover {
  color: var(--navbar-item-text-color-hover);
  background-color: var(--navbar-item-color-hover);
}

.center {
  display: flex;
  align-items: stretch;
}

.right {
  display: flex;
  align-items: stretch;
}
