.Header {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
}

.logo {
  color: var(--text-color);
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.logo:hover {
  color: var(--text-color);
}

.item {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  color: var(--text-color);
  background-color: var(--navbar-item-color);
}

.item:hover {
  color: var(--text-color);
  background-color: var(--navbar-item-color-hover);
}

.signin-login {
  background-color: var(--signin-login-color);
  padding: 0 10px 0 10px;
}

.signin-login:hover {
  background-color: var(--signin-login-color-hover);
  color: var(--signin-login-text-color-hover);
  color: var(--signin-login-color-selected);
}

.center {
  display: flex;
  align-items: stretch;
}

.right {
  display: flex;
  align-items: stretch;
}
