.InfiniteScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--card-color);
  width: var(--card-width);
  height: var(--card-height);
  cursor: pointer;
  transition: background-color var(--hover-transition-time);
}

.card:hover {
  background-color: var(--card-color-hover);
}

.card-image {
  width: 220px;
  height: 150px;
  padding: 10px;
  border-radius: 15px;
}

.search-form {
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  width: 300px;
}

.search-form input {
  flex-grow: 1;
}

.cross {
  position: absolute;
  top: 2px;
  right: 0;
  background-color: inherit;
}

.cross:hover {
  background-color: inherit;
}

.cross img {
  height: 25px;
}


.spinner {
  width: 32px;
  margin-top: 10px;
  animation: 1s infinite linear spin;
}

.message {
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
