.InfiniteScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}


.search-form {
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  width: 300px;
}

.search-form input {
  flex-grow: 1;
}

.cross {
  position: absolute;
  top: 2px;
  right: 0;
  background-color: inherit;
}

.cross:hover {
  background-color: inherit;
}

.cross img {
  height: 25px;
}

.message {
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
