.SearchInput {
  display: flex;
  width: 370px;
}

.wrapper {
  position: relative;
}

.spinner {
  width: 40px;
  animation: spin 1s linear infinite;
}

.cross {
  position: absolute;
  right: 15px;
  top: 5px;
  background-color: inherit;
}

.cross:hover {
  background-color: inherit;
}

.cross-image {
  width: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input {
  width: 300px;
  margin-right: 10px;
}
