.section {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    margin-bottom:  20px;
}

.section > p {
    line-height:    30px;
    margin:         8px;
}

.button {
    text-align:         center;
    font-weight:        bold;
    border-radius:      5px;
    padding:            10px;
    background-color:   var(--colorButton);
    color:              var(--colorTextAlt);
    transition:         all var(--transitionTime);
}

.button:hover {
    cursor: pointer;
    background-color: var(--colorButtonSelected);
}