.section {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    margin-bottom:  20px;
}

.section > p {
    font-size:      18px;
    line-height:    30px;
    margin:         8px;
}

.button {
    text-align:         center;
    font-weight:        bold;
    border-radius:      5px;
    padding:            10px;
    background-color:   var(--color-purple);
    color:              var(--color-text-alt);
    transition:         all var(--transition-time);
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-purple-light);
}