.header {
    text-align: center;
    margin-bottom: 10px;
}

.memberText {
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 0;
}

.memberText a {
    color: var(--colorLink) !important;
}

.error {
    color: var(--colorError);
    height: 15px;
    margin: 0;
    padding: 8px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}