.SignUp {
    display:            flex;
    flex-direction:     column;
    border-radius:      10px;
    padding:            40px 60px 40px 60px;
    width:              350px;
    background-color:   var(--colorForm);
    filter:             var(--filterCard);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px 0 10px 0;
    width: 350px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label {
    font-size: 18px;
    margin: 0;
}

.memberText {
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 0;
}

.memberText a {
    color: var(--colorLink) !important;
}

.error {
    color: var(--colorError);
    height: 15px;
    margin: 0;
    padding: 2px 0 0 0;
    font-size: 13px;
    font-weight: bold;
}

.unexpectedError {
    color: var(--colorError);
    height: 15px;
    margin: 0;
    padding: 8px 0 0 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}