.App {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  height:         100%;
}

.Layout {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  height:         80%;
  margin:         10px;
  margin-top:     60px;
  padding:        0;
}

.desktop {
  width: 53%;
}

.tablet {
  width: 80%;
}

.mobile {
  width: 100%;
}