.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content-color);
}

.content {
  display: flex;
  justify-content: center;
  width: var(--content-width);
  height: calc(100vh - var(--header-height)); 
  padding: 20px 0 20px 0;
  overflow-y: auto;
}
