.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--content-color);
}

.content {
  display: flex;
  justify-content: center;
  width: calc(100vw - 800px);
  height: calc(100vh - var(--header-height)); 
  padding-top: 20px;
  overflow-y: auto;
}
