.Button {
    border:             none;
    text-align:         center;
    font-weight:        bold;
    background-color:   var(--colorButton);
    color:              var(--colorTextAlt);
    transition:         all var(--transitionTime); 
    cursor:             pointer;
    filter:             var(--filterButton);
}

.normal {
    border-radius:  10px;
    font-size:      17px;
    padding:        15px;
}

.small {
    border-radius:  5px;
    font-size:      12px;
    padding:        5px;
}

.primary {
    background-color: var(--colorButton);
}

.primary:hover {
    background-color: var(--colorButtonSelected);
}

.secondary {
    background-color: var(--colorButtonAlt);
}

.secondary:hover {
    background-color: var(--colorButtonAltSelected);
}
