.inputClass {
    margin: 4px 0 0 0;
    border-radius: 5px;
    border: solid var(--color-border);
    border-width: 2px;
    font-size: 18px;
    height: 30px;
    outline: 1px solid var(--colorOutline);
    transition: outline-color var(--transitionTime);
}

.inputClass:focus {
    outline: 2px solid var(--colorOutlineFocus);
}

.label {
    font-size: 18px;
    margin: 0;
}

.error {
    color: var(--colorError);
    height: 15px;
    margin: 0;
    padding: 2px 0 0 0;
    font-size: 15px;
    font-weight: bold;
}

.required {
    color: var(--colorError);
    height: 15px;
    margin: 5px;
    font-weight: bold;
}