.Navbar {
    display: flex;
    position: sticky;
    justify-content: center;
    align-self: stretch;
    top: 0;
    margin: 0;
    background-color: var(--colorNavbar);
    filter: var(--filterNavbar);
    z-index: 1;
}

.Navbar h2 {
    margin: 0;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 53%;
}

.title {
    margin: 0;
}

.left {
    display: flex;
    align-items: center;
    height: 38px;
}

.center {
    display: flex;
    align-items: center;
    height: 38px;
}

.right {
    display: flex;
    align-items: center;
    height: 38px;
}

.site {
    display: flex;
    align-items: center;
    height: 100%;
}

.option {
    display:        flex;
    align-items:    center;
    padding:        0 10px 0 10px;
    cursor:         pointer;
    height:         calc(100% - 2px);
    transition:     all var(--transitionTime);
}

.option:hover {
    box-shadow: 0 2px 0 var(--colorText);
}

.login {
    width: 60px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all var(--transitionTime);
}

.login:hover {
    background-color: var(--colorNavbar);
    color: var(--colorTextAlt);
    background-color: var(--colorButtonAlt);
    filter: var(--filterButton);
}

.signup {
    width: 70px;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all var(--transitionTime);
}

.signup:hover {
    color: var(--colorTextAlt);
    background-color: var(--colorButton);
    filter: var(--filterButton);
}